<!DOCTYPE html>
<html lang="kn">
<!-- Basic -->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Site Metas -->
  <title>AgroNOW</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Site Icons -->
  <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="assets/images/apple-touch-icon.png">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <!-- Site CSS -->
  <link rel="stylesheet" href="assets/css/style.css">
  <!-- Responsive CSS -->
  <link rel="stylesheet" href="assets/css/responsive.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="assets/css/custom.css">

  <!--[if lt IE 9]>
      <script src="assets/https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="assets/https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
  <!-- Start Main Top -->
  <header class="main-header">
    <!-- Start Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
      <div class="container">
        <!-- Start Header Navigation -->
        <div class="navbar-header">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" href="/index-kn"><img src="../assets/images/pragati-mahila-samaste-high-resolution-logo-color-on-transparent-background.png" alt="" style="width: 150px;"></a>
        </div>
        <!-- End Header Navigation -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-menu">
          <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
            <li class="nav-item"><a class="nav-link" href="/kn">ಹೋಂ</a></li>
            <li class="nav-item"><a class="nav-link" href="/about-kn">ನಮ್ಮ ಬಗ್ಗೆ</a></li>
            <li class="dropdown active">
              <a href="/shop-kn" class="nav-link dropdown-toggle arrow">ಅಂಗಡಿ</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->

        <!-- Start Atribute Navigation -->
        <div class="attr-nav">
          <ul>
            <li class="side-menu">
              <a href="/get-cart-kn">
                <i class="fa fa-shopping-bag"></i>
                <span class="badge"></span>
                <p>ಕಾರ್ಟ್</p>
              </a>
            </li>
            <li>
              <% if(sgdata === "Log out") { %>
              <a href="/logout-en" id="sign-in"><%= sgdata %></a>
              <% } else { %>
              <a href="/signin-en" id="sign-in"><%= sgdata %></a>
              <% } %>
            </li>
            <li>
              <a href="/shop-en">View in English</a>
            </li>
          </ul>
        </div>
        <!-- End Atribute Navigation -->
      </div>
    </nav>
    <!-- End Navigation -->
  </header>
  <!-- End Main Top -->

  <!-- Start Top Search -->
  <div class="top-search">
    <div class="container">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input type="text" class="form-control" placeholder="Search">
        <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
      </div>
    </div>
  </div>
  <!-- End Top Search -->

  <!-- Start All Title Box -->
  <div class="all-title-box">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>ಅಂಗಡಿ</h2>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">ಹೋಂ</a></li>
            <li class="breadcrumb-item active">ಅಂಗಡಿ </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End All Title Box -->

  <!-- Start Shop Page  -->
  <div class="shop-box-inner">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
          <div class="right-product-box">
            <!-- <div class="product-item-filter row">
              <div class="col-12 col-sm-8 text-center text-sm-left">
                <div class="toolbar-sorter-right">
                  <span>Sort by </span>
                  <select id="basic" class="selectpicker show-tick form-control" data-placeholder="₹ INR">
                    <option data-display="Select">Nothing</option>
                    <option value="1">Popularity</option>
                    <option value="2">High Price → High Price</option>
                    <option value="3">Low Price → High Price</option>
                    <option value="4">Best Selling</option>
                  </select>
                </div>
                <p>Showing all 4 results</p>
              </div>
              <div class="col-12 col-sm-4 text-center text-sm-right">
                <ul class="nav nav-tabs ml-auto">
                  <li>
                    <a class="nav-link active" href="#grid-view" data-toggle="tab"> <i class="fa fa-th"></i> </a>
                  </li>
                  <li>
                    <a class="nav-link" href="#list-view" data-toggle="tab"> <i class="fa fa-list-ul"></i> </a>
                  </li>
                </ul>
              </div>
            </div> -->
            <div class="search-product">
              <form action="#">
                <input class="form-control" placeholder="Search here..." type="text">
                <button type="submit"> <i class="fa fa-search"></i> </button>
              </form>
            </div>

            <div class="product-categorie-box">
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                  <div class="row">
                    <% if(data.length){
                      for(var i = 0; i< data.length; i++) {%>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                      <div class="products-single fix">
                        <div class="box-img-hover">
                          <div class="type-lb">
                            <p class="sale">Sale</p>
                          </div>
                          <img src="/shop/<%= data[i].item_id %>" class="img-fluid" alt="Image">
                          <div class="mask-icon">
                            <ul>
                              <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                              <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                              <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                            </ul>
                            <!--<form class="cart" action="/cart" method="GET">
                              <input type="hidden" name="value" value="<%= data[i].item_id %>">
                              <button type="submit">Submit</button>
                            </form>-->
                            <form action="/add" method="POST">
                              <input type="hidden" name="value" value="<%= data[i].item_id %>">
                              <button type="submit">Add to Cart
                              </button>
                            </form>
                            <a class="cart" href="/cart?value=<%= data[i].item_id %>">Add to Cart</a>
                          </div>
                        </div>
                        <div class="why-text">
                          <h4><%=data[i].item_name%></h4>
                          <h5>Rs. <%= data[i].rate%></h5>
                        </div>
                      </div>
                    </div>
                    <% }       
                    }%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
          <div class="product-categori">

            <div class="filter-sidebar-left">
              <div class="title-left">
                <h3>Categories</h3>
              </div>
              <div class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men" data-children=".sub-men">
                <div class="list-group-collapse sub-men">
                  <a class="list-group-item list-group-item-action" href="#sub-men1" data-toggle="collapse" aria-expanded="true" aria-controls="sub-men1">Fruits<small class="text-muted">(100)</small>
                  </a>
                  <!-- <div class="collapse show" id="sub-men1" data-parent="#list-group-men">
                    <div class="list-group">
                      <a href="#" class="list-group-item list-group-item-action active">Fruits 1 <small class="text-muted">(50)</small></a>
                      <a href="#" class="list-group-item list-group-item-action">Fruits 2 <small class="text-muted">(10)</small></a>
                      <a href="#" class="list-group-item list-group-item-action">Fruits 3 <small class="text-muted">(10)</small></a>
                      <a href="#" class="list-group-item list-group-item-action">Fruits 4 <small class="text-muted">(10)</small></a>
                      <a href="#" class="list-group-item list-group-item-action">Fruits 5 <small class="text-muted">(20)</small></a>
                    </div>
                  </div> -->
                </div>
                <div class="list-group-collapse sub-men">
                  <a class="list-group-item list-group-item-action" href="#sub-men2" data-toggle="collapse" aria-expanded="false" aria-controls="sub-men2">Vegetables
                    <small class="text-muted">(50)</small>
                  </a>
                  <!-- <div class="collapse" id="sub-men2" data-parent="#list-group-men"> -->
                  <!-- <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">Vegetables 1 <small class="text-muted">(10)</small></a> -->
                  <!-- <a href="#" class="list-group-item list-group-item-action">Vegetables 2 <small class="text-muted">(20)</small></a>
                      <a href="#" class="list-group-item list-group-item-action">Vegetables 3 <small class="text-muted">(20)</small></a> -->
                </div>
                <!-- </div> -->
              </div>
              <!-- <a href="#" class="list-group-item list-group-item-action"> Grocery <small class="text-muted">(150) </small></a>
              <a href="#" class="list-group-item list-group-item-action"> Grocery <small class="text-muted">(11)</small></a> -->
              <a href="#" class="list-group-item list-group-item-action"> Grocery <small class="text-muted">(22)</small></a>
            </div>
          </div>
          <!-- <div class="filter-price-left">
              <div class="title-left">
                <h3>Price</h3>
              </div>
              <div class="price-box-slider">
                <div id="slider-range"></div>
                <p>
                  <input type="text" id="amount" readonly style="border:0; color:#fbb714; font-weight:bold;">
                  <button class="btn hvr-hover" type="submit">Filter</button>
                </p>
              </div>
            </div> -->
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- End Shop Page -->


  <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

  <!-- ALL JS FILES -->
  <script src="assets/js/jquery-3.2.1.min.js"></script>
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <!-- ALL PLUGINS -->
  <script src="assets/js/jquery.superslides.min.js"></script>
  <script src="assets/js/bootstrap-select.js"></script>
  <script src="assets/js/inewsticker.js"></script>
  <script src="assets/js/bootsnav.js."></script>
  <script src="assets/js/images-loded.min.js"></script>
  <script src="assets/js/isotope.min.js"></script>
  <script src="assets/js/owl.carousel.min.js"></script>
  <script src="assets/js/baguetteBox.min.js"></script>
  <script src="assets/js/jquery-ui.js"></script>
  <script src="assets/js/jquery.nicescroll.min.js"></script>
  <script src="assets/js/form-validator.min.js"></script>
  <script src="assets/js/contact-form-script.js"></script>
  <script src="assets/js/custom.js"></script>
</body>

</html>